<div class="row container-body">
<div class="row section-title">
    <div class="col-sm-12">
        <h1>Ayuda y Soporte<h1>
    </div>
</div>
<div class="col-sm-12">
    <br>
        <div class="row">
            <div class="col-sm-8">
               <h4> <strong> Preguntas frecuentes<strong> </h4>
                
                <ul class="nav" id="accordion">
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">&#191;Es segura mi informaci&oacute;n con su aplicaci&oacute;n&#63;</a>
                        <div id="collapse1" class="panel-collapse collapse">
                            S&iacute;, porque introduce un sistema &uacute;nico de blindaje para comunicaci&oacute;n para uso en todo tipo de celulares, con base de algoritmos  de encriptamiento (proceso para leer mensajes).
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">&#191;El proceso d&aacute; confiabilidad para m&iacute; celular&#63;</a>
                        <div id="collapse2" class="panel-collapse collapse">
                            S&iacute;, este es un proceso en el cual se realiza:
                            <ul >
								<li>La se&ntilde;al es codificada (en base a algoritmos de encriptaci&oacute;n) para la informaci&oacute;n que entra y sale.</li>
								<li>El m&eacute;todo es autom&aacute;tico (no requiere instalaci&oacute;n de software alguno en aparato).</li>
								<li>Funciona en cualquier aparato m&oacute;vil, ya sea de tecnolog&iacute;a reciente o aparatos m&oacute;viles m&aacute;s antiguos.</li>
							</ul>
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">Al momento de instalar la aplicaci&oacute;n, &#191;La informaci&oacute;n es protegida a los ataques externos&#63;</a>
                        <div id="collapse3" class="panel-collapse collapse">
                           S&iacute;, el encriptamiento utilizado por Perseo trabaja a 69000bits, gracias a su sistema permite una protecci&oacute;n continua a 3.7 mil&eacute;simas de segundo. Esto significa que los hackers solo tienen 0.0037 segundos para decriptar el algoritmo para poder leerlo.
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">Para realizar llamadas a otros tel&eacute;fonos, &#191;Es necesario que posean el mismo sistema de encriptaci&oacute;n&#63;</a>
                        <div id="collapse4" class="panel-collapse collapse">
                           No, porque es el &uacute;nico sistema en el cual se puede hablar sin requerir el sistema de encriptaci&oacute;n.
                        </div>
                    </li>
                    
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse5">&#191;Los protocolos de Perseo act&uacute;an con la seguridad internacional&#63;</a>
                        <div id="collapse5" class="panel-collapse collapse">
                           S&iacute;, para la protecci&oacute;n de computadoras, datos e informaci&oacute;n corporativa, transacciones de servicios financieros e informaci&oacute;n gubernamental.
                        </div>
                    </li>
                    
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse6">&#191;Cu&aacute;les son las caracter&iacute;sticas principales del sistema para adquirirlo&#63;</a>
                        <div id="collapse6" class="panel-collapse collapse">
                            <ul >
								<li>Algoritmo de encriptaci&oacute;n a 69000 bits.</li>
								<li>Instalaci&oacute;n f&aacute;cil en cualquier dispositivo de comunicaci&oacute;n m&oacute;vil como: iPhone, iPad, BlackBerry, Smartphones con sistema Android, adem&aacute;s de celulares tradicionales.</li>
								<li>Sistema que trabaja en segundo plano, sin obstrucci&oacute;n, con total integraci&oacute;n en el sistema operativo del dispositivo.</li>
								<li>Cobertura total en llamadas locales, nacionales e internacionales.</li>
								<li>Protege: llamadas de voz, mensajes de texto, envio de archivos, adem&aacute;s de la transferencia de datos en redes WiFi.</li>
								<li>
									Compatible con las siguientes redes de comunicaci&oacute;n:
									<br/>
									GSM/CDMA
									<br/>
									2G
									<br/>
									3G
									<br/>
									4G
									<br/>
									GPRS
									<br/>
									EDGE
									<br/>
									UMTS
								</li>
							</ul>
                        </div>
                    </li>
                    
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse7">&#191;Es posible hacer v&iacute;deo llamadas&#63;</a>
                        <div id="collapse7" class="panel-collapse collapse">
                           No
                        </div>
                    </li>
                    
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse8">&#191;Existe alg&uacute;n costo adicional al usar el servicio&#63;</a>
                        <div id="collapse8" class="panel-collapse collapse">
                           Existen solamente dos paquetes del servicio que si tienen costo y hay uno que solamente es de prueba de 15 d&iacute;as
                        </div>
                    </li>
                    
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse9">&#191;Existe alg&uacute;n l&iacute;mite en el servicio de datos y llamadas&#63;</a>
                        <div id="collapse9" class="panel-collapse collapse">
                           No
                        </div>
                    </li>
                    
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse10">&#191;Protegen cualquier tipo de celular&#63;</a>
                        <div id="collapse10" class="panel-collapse collapse">
                           S&iacute;
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse11">&#191;C&oacute;mo tramito una factura&#63;</a>
                        <div id="collapse11" class="panel-collapse collapse">
                           Se tramita mediante un env&iacute;o de correo para realizar el dep&oacute;sito al banco.
                        </div>
                    </li>
                    <li>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse12">&#191;De qu&eacute; me protegen&#63;</a>
                        <div id="collapse12" class="panel-collapse collapse">
                           De datos personales e informaci&oacute;n del celular.
                        </div>
                    </li>
                    
                </ul>
                <br/>
            </div>
            <div class="col-sm-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><strong> Contactanos a</strong></div>
                    <div class="panel-body text-center">
                        <!-- <p><span class="glyphicon glyphicon-earphone"></span><p> -->
                        <p><span class="glyphicon glyphicon-envelope"></span> soporte@perseosecurity.com<p>
                        <hr/>
                        <span class="glyphicon glyphicon-comment"><a href="contact"> Dejanos tus dudas o comentarios</a></span>
                    </div>
                </div>
            </div>
        </div>
    
    </div>
</div>
