<div class="row section-title">
    <div class="col-sm-12">
        <h1> 5.- <span class="glyphicon glyphicon-ok-circle"> </span> Detalle de la Solicitud<h1>
    </div>
</div>
<div class="container ">
    <div class="row">
        <div class="col-sm-12">
            <br/>
            <div class="section-content1">
                <div class="row">
                    <div class="col-sm-8"> * Para consultar o realizar una operacion sobre una solicitud existente es necesario hacer una busqueda  con el  n&uacute;mero de folio<br/>* Si no recuerdas tu(s) n&uacute;mero(s) de folio  solicitalos y revisa tu correo</div>
                    <div class="col-sm-4 text-right"><a class="btn btn-default" href="servicerequest_create">Nueva Solicitud</a></div>
                </div>
                
                    <div class="row">
                        <hr>
                        #springBind("detail")
                        <form name="search" method="get" action="service_detail" role="form" class="form-horizontal" onsubmit="return false;">
                            <div class="form-group">
                                <label for="folio" class="col-sm-1 control-label">Folio</label>
                                <div class="col-sm-4">
                                    #springFormInput("detail.folio" "class='form-control' autofocus placeholder='folio'")
                                    <!-- <input type="text" class="form-control" id="folio" name="folio" autofocus placeholder="folio"> -->
                                </div>
                                <div class="col-sm-3">
                                    <a data-toggle="modal"  data-target="#verifyUser" href="#service_detail" class="btn btn-info">Buscar</a>
                                </div>
                                <div class="col-sm-3">
                                    <a data-toggle="modal"  data-target="#verifyUser" href="#services/send_request.json" class="btn btn-info" >Solicitar folios</a>
                                </div>
                            </div>
                        </form>
                        <hr>
                    </div>
					
                    <div class="row">
                        <form name="detail" method="get" action="servicerequest_renew" role="form" class="form-horizontal">
							
                            #springFormHiddenInput("detail.folio" " ")
							
                            <div class="form-group">
                                <label for="codearea" class="col-sm-3 control-label">Status</label>
                                <div class="col-sm-2"><label class="control-label">${detail.status}</label></div>
                            
                                <label for="country" class="col-sm-2     control-label">Pa&iacute;s</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.country" "class='form-control' autofocus placeholder='Pa&iacute;s' readonly")
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="codecountry" class="col-sm-3 control-label">C&oacute;digo de Pa&iacute;s</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.codecountry" "class='form-control' placeholder='C&oacute;digo de Pa&iacute;s' readonly")
                                </div>
                            
                                <label for="codearea" class="col-sm-2 control-label">C&oacute;digo de Area</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.codeArea" "class='form-control' placeholder='C&oacute;digo de Area' readonly")
                                </div>
                            </div>

                            <div class="form-group">    
                                <label for="codearea" class="col-sm-3 control-label">Tel&eacute;fono</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.phone" "class='form-control' placeholder='Tel&eacute;fono' readonly")
                                </div>
                            
                                <label for="codearea" class="col-sm-2 control-label">Tipo de Licencia</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.typeLicense" "class='form-control' placeholder='Tipo de Licencia' readonly")
                                </div>
                            </div>

                            <div class="form-group"> 
                                <label for="codearea" class="col-sm-3 control-label">Cantidad de Mensajes</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.totalMsj" "class='form-control' placeholder='Total Mensajes' readonly")
                                </div>
                                
                                <label for="codearea" class="col-sm-2 control-label">Frecuencia de Mensajes</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.frecuencyMsj" "class='form-control' placeholder='Fecha Contrato' readonly")
                                </div>
                                
                            </div>

                             <div class="form-group"> 
                                <label for="codearea" class="col-sm-3 control-label">Fecha del Contrato</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.contractDate" "class='form-control' placeholder='Fecha Contrato' readonly")
                                </div>

                                <label for="codearea" class="col-sm-2 control-label">Fecha de vencimiento</label>
                                <div class="col-sm-2">
                                    #springFormInput("detail.expirationDate" "class='form-control' placeholder='Fecha Vencimiento' readonly")
                                </div>
                            
                            </div>
                            
	
                            <div class="form-group text-center">
                                
                                #if ($data.statuscode==1)<br/>
                                    * Para actualizar los datos, debe realizar una suspensi&oacute;n temporal.
                                #end
                                <hr>
                                <div class="col-sm-12 text-right">
				 				
                                    #if ($data.statuscode==1)
                                        <a data-toggle="modal"  data-target="#verifyUser" href="#services/suspend.json" class="btn btn-info" > Suspender </a>
                                    #end
                                    
                                    #if ($data.statuscode==2)
                                        <a class="btn btn-info" href="servicerequest_update?folio=$detail.folio"><strong class="lbl-section"> Editar</strong></a>
                                        <a data-toggle="modal"  data-target="#verifyUser" href="#services/reactivate.json" class="btn btn-info" > Reactivar </a>
                                    #end
                                    
                                    #if ($data.statuscode==3)
                                        <!--<a data-toggle="modal"  data-target="#verifyUser" href="#services/renew.json" class="btn btn-info" > Renovar </a>-->
                                        <input type="submit" class="btn btn-info" value="Renovar">
                                    #end
                                    
                                    
                                    <br/>&nbsp;
                                </div>
                            </div>
                        </form>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade bs-modal-sm" id="verifyUser"  tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <form id="validateUser" action="services/verify.json" class="form-horizontal" onSubmit="return false">
                <div class="alert alert-success" role="alert"></div>
                <input type="hidden" name="action" value="verify-user">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Confirmar</h4>
                </div>
                <div class="modal-body" >
                    <div class="form-group">
                        <label for="user" class="col-sm-12 ">Usuario</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="user" name="user" placeholder="Usuario">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="password" class="col-sm-12 ">Contrase&ntildea</label>
                        <div class="col-sm-12">
                            <input type="password" id="password" name="password" class="form-control" placeholder="Contrase&ntilde;a">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Cancelar</button>
                    <button type="submit" class="btn btn-success" id="btnacept" aria-hidden="true">Aceptar</button> 
                </div>
            </form>
        </div>
    </div>
</div>
