<div class="row section-title">
    <div class="col-md-4 title">&nbsp;</div>
</div>
#set($paises=$ListaPaises)
#set($tsolicitudes=$ListaTiposSolicitud)
#set($cantmsjs=$ListaCantidadMsjs)
#set($fmensajes=$ListaFrecuenciaMsjs)
<div class="container ">
    <div class="row">
        <div class="col-sm-7">
            <div class="section-content">
                <h2>Solicitud de servicio</h2> <br/>
                <form name="servicerequest" method="post" action="servicerequest_create" role="form" class="form-horizontal">
                    #springBind("servicer")
					
                    <div class="form-group">
                        <label for="country" class="col-sm-4 control-label">Pa&iacute;s</label>
                        <div class="col-sm-8">
                            #springFormSingleSelect("servicer.pais" $Countrys "class='form-control' autofocus")
                            #springShowErrors("<br />", "error")
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="typelicence" class="col-sm-4 control-label">C&oacute;digo de Area</label>
                        <div class="col-sm-8">
                            #springFormInput("servicer.codeArea" "class='form-control' placeholder='Area'")
                            #springShowErrors("<br />", "error")
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="typelicence" class="col-sm-4 control-label">Tel&eacute;fono</label>
                        <div class="col-sm-8">
                            #springFormInput("servicer.phone" "class='form-control' placeholder='Tel&eacute;fono'")
                            #springShowErrors("<br />", "error")
                        </div>
                    </div>

                    
                    <div class="form-group">
                        <label for="typelicence" class="col-sm-4 control-label">Tipo de Licencia</label>
                        <div class="col-sm-8">
                            #springFormSingleSelect("servicer.typeLicence" $TypeLicence "class='form-control'")
                            #springShowErrors("<br />", "error")
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="totalMessage" class="col-sm-4     control-label">Cantidad de Mensajes</label>
                        <div class="col-sm-8">
                            #springFormSingleSelect("servicer.totalMessage" $TotalMessage "class='form-control'")
                            #springShowErrors("<br />", "error")
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="frecuencynotification" class="col-sm-4     control-label">Frecuencia de Notificaci&oacute;n</label>
                        <div class="col-sm-8">
                            #springFormSingleSelect("servicer.frecuencyMessage" $FrecuencyNotification "class='form-control'")
                            #springShowErrors("<br />", "error")
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="alias" class="col-sm-12 "></label>
                        <div class="col-sm-12 text-right  ">
                            <a href="panel" class="btn btn-primary">Cancelar</a>
                            <input type="submit" class="btn btn-success" value="Aceptar">
                        </div>
                    </div>
                </form>
            </div>		
        </div>
    </div>
</div>
