<!DOCTYPE html>
<html lan="es">
    <head>
        <title>Default</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
    </head>
    <body>
        <h1> Hola Nenaa!</h1>
    </body>
</html>