<!DOCTYPE html>
<html lan="es">
    <head>
        <title>perseo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="description" content="Perseo - Seguridad Movil">
        <link rel="shortcut icon" href="../img/perseo/favicon2-01.png">
	
        <!-- css-->
        <link rel="stylesheet" href="../css/bootstrap-3.1.1/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="../css/perseomx/style.css" type="text/css">
        
            <!-- libray js-->
            <script src="../js/libs/modernizr2.8.1.min.js"></script>
            <script src="../js/libs/jquery1.11.1.min.js"></script>
            <!-- load assets css and js-->
        
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- menu -->
        <header>
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid ">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle hidden-xs" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        <div class="navbar-logo">
                            <a class="navbar-brand" href="home">
                                <img class="img-responsive" src="../img/perseo/logo_perseo.png" alt="perseo">
                            </a>
                        </div>
                        #if ($data.activate)
                            <ul class="nav navbar-nav navbar-right">
                                <li> <a  target="_blank" class="btn" href="ayuda">Ayuda y soporte</a></li>
                            </ul>
                        #else
                        <ul class="nav navbar-nav navbar-right">
                        <li><a target="_blank" class="btn" href="../pdf/PERSEO.pdf">Brochure</a></li></li>
                        <li> <a  class="btn" href="docs">Documentaci&oacute;n</a></li>
                        <li> <a  class="btn" href="ayuda">Ayuda y soporte</a></li>
                        <li>
                            
                                #if ($data.create_account == true)
                                        <a class="btn" href="create_account">Registrate</a>
                                #end
                                #if ($data.login == true)
                                        <a class="btn" href="login">Iniciar Sesi&oacute;n</a>
                                #end

                                #if ($data.panel == true)
                                        <a class="btn" href="panel">Solicitudes</a>
                                #end

                                #if ($data.profile == true)
                                        <a class="btn" href="profile">Perfil</a>
                                #end
                            
                        </li>
                        #if ($data.logout == true)
                            <li>
                                <a class="btn" href="../j_spring_security_logout">Cerrar Sesi&oacute;n</a>
                            </li>
                        #end
                    </ul>
                    #end
                    </div>
                </div>
            </nav>
        </header>
        <!-- content -->
        <div class="row container-body">
            #parse("${view}")
        </div>
        #include('./vm/layouts/footer.vm')
    </body>
</html>
